#gol{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.element{
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;

    width: 8px;
    height: 8px;  
}

.alive{
    background: rgb(165, 2, 2);
}


.break{
    flex-basis: 100%;
}


